{{log model}}

<h2>There's lots of stuff out there</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Magnitude</th>
      <th>Orbit</th>
      <th>Hazardous!!!</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.near_earth_objects as |neo|}}
      <tr>
        <td>{{neo.name}}</td>
        <td>{{neo.absolute_magnitude_h}}</td>
        <td>{{neo.orbital_data.perihelion_distance}}</td>
        <td>
          {{#if neo.is_potentially_hazardous_asteroid}}
            <img src="https://media.giphy.com/media/FQyFJNXNRx6De/giphy.gif" alt="">
          {{/if}}
        </td>
        {{log neo}}
      </tr>
    {{/each}}
  </tbody>
</table>

{{#link-to "index"}}Go Home{{/link-to}}
